<% if ::Refinery::Plugins.active.names.include?('images') %>
  <li>
    <%= link_to t('create_new_image', scope: 'refinery.admin.images.actions'),
                refinery.new_admin_image_path,
                :class => 'add-icon icon-small icon-with-text' %>
  </li>
<% end %>
