<% view_partial = "#{Refinery::Images.preferred_image_view}_view" %>
<% cache refinery_records_cache_key @images, view_partial do -%>
  <div>
  <% if @images.any? %>
    <%= will_paginate @images %>
    <%= render view_partial %>
  <% else %>
    <p>
      <strong>
        <%= t('.no_images_yet') %>
      </strong>
    </p>
  <% end %>
</div>
<% end %>
