<ul>
  <li>
    <%%= link_to t('.create_new'), refinery.new_admin_<%= namespacing.underscore %>_<%= singular_name %>_path,
                 :class => 'add-icon icon-small icon-with-text' %>
  </li>
</ul>
