<div>
  <%% if @<%= plural_name %>.any? %>
    <%%= render '<%= plural_name %>' %>
  <%% else %>
    <p>
        <strong>
          <%%= t('.no_items_yet') %>
        </strong>
    </p>
  <%% end %>
</div>
