@media (max-width: 720px) {
    #actions,
    #records,
    form {
        min-width: 400px;
        width: 100%;
        max-width: 100%;
        margin-right: 0px;
    }

    .hemisquare {
        float: none;
        width: 100%;
    }
}
