#site-bar {
    border-bottom: none;
    color: #fff;
    font-weight: normal;
    background: #22a7f2;
    line-height: 47px;
    text-align: left;
    overflow: hidden;
    font-family: Arial,sans-serif;
    font-size: 14px;
}

#site-bar-content {
    margin: 0 20px;
    text-align: center;
}

#site-bar a {
    text-decoration: none;
    color: #fff;
}

#site-name,
#editor-switch {
    float: left;
    margin-right: 20px;
}

#editor-switch a {
    background-color: #e7682c;
    background-repeat: repeat-x;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAIAAAC0rgCNAAAAa0lEQVQImQFgAJ//AP+JUQD+iE8A/YZNAPuESwD5gUgA939FAPV8QgDzeT4A8XY7AO9yNwDsbzMA6mwwAOdoLADlZSgA42EkAOBeIADeWx0A3FgZANpVFgDYUhIA1k8PANRNDQDSSwoA0UkIac4j8+pY1jcAAAAASUVORK5CYII=');
    padding: 4px 14px;
    border: 1px solid #fca87f;
    border-bottom: none;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

#refinery-cms-logo {
    height: 29px;
    display: inline-block;
    position: relative;
    top: 7px;
    width: 100px;
    text-align: center;
    text-indent: 100%;
    overflow: hidden;
    background: url('/assets/refinery/logo-site-bar.png') no-repeat top center;
}

#refinery-cms-logo:hover,
#refinery-cms-logo:focus {
    background-position: 50% -29px;
}

#refinery-cms-logo:active  {
    background-position: 50% -28px;
}

#site-name {
    font-size: 120%;
    font-weight: bold;
    color: #54BEFA;
}

#current-user {
    float: right;
}

#current-user .username {
    margin-right: 20px;
}
