<div id="recent-activity">
  <h2><%= t('.latest_activity') %></h2>
  <% if (activity = @recent_activity.collect { |a|
          activity_message_for(a)
        }.reject(&:blank?)).present? %>
    <ul class="records">
    <% activity.each do |message| %>
       <li>
         <%= message.html_safe %>
       </li>
    <% end %>
    </ul>
  <% else %>
    <%= t('.empty') %>
  <% end %>
</div>
