.image-holder img {
    border: solid 4px #ccc;
}

#page_parts-controls {
    position: relative;
    z-index: 1;
    float: right;
    margin: 0px;
}

#page_parts-controls li {
    float: right;
    margin: 15px 5px 0px;
}

#existing-image {
    float: right;
    max-width: 50%;
    overflow: hidden;
}

#image-size {

    margin: 2em 0;

    li {
        float: left;
        list-style: none;
        margin: 0px 18px 0px 0px;
        text-align:center;
    }

    a {
        display: block;
        border: 1px solid #999;
        font-size: 12px;
    }

    .ui-selected a {
        border-color: #22A7F2;
        background: #22A7F2;
        color: #fff;
        font-weight: bold;
    }
}

#image-dialog-size-0 {
    padding-right: 2em;
}

#image-dialog-size-0 a { height: 70px; width: 70px; line-height: 70px; margin-top:-10px; border-style: dashed;}
#image-dialog-size-1 a { height: 50px; width: 50px; line-height: 50px; margin-top:  0px; }
#image-dialog-size-2 a { height: 70px; width: 70px; line-height: 70px; margin-top:-10px; }
#image-dialog-size-3 a { height: 90px; width: 90px; line-height: 90px; margin-top:-20px; }

#refinery-cms-logo {
    height: 29px;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-indent: 100%;
    overflow: hidden;
    background: asset-url('refinery/logo-site-bar.png') no-repeat;
    background-position: 50% -30px;
    float: right;
    opacity: 0.75;
}

#refinery-cms-logo:hover,
#refinery-cms-logo:focus {
    opacity: 1;
}

#refinery-cms-logo:active  {
    background-position: 50% -29px;
}

.wysiwyg-editor-holder,
.wysiwyg-editor-on textarea {
  display: none;
}

.wysiwyg-editor-on .wysiwyg-editor-holder {
  display: block;
  min-height: 400px;
}

.wysiwyg-toggle-button {
  float: right;
  position: relative;
  top: 5px;
}

.translation_missing {
    color: #f00;
}

/**
 * If is missing translation in html attribute it may broke dom,
 * and we want to know about that
 */
[title="<span class="]:before {
    content: 'I18n:'
}

[title="<span class="] {
    outline: dashed 1px #f00 !important;
}
