table.form {
    width: 100%;
    margin-bottom: 1em;
}

.form tbody th {
    width: 20%;
}

form {
    max-width: 940px;
}

.form-title {
    float: left;
    max-width: 70%;
}

.form-title h1 {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 125%;
}

.form-actions {
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    max-height: 45px;
    padding: 10px 0;
    border-radius: 5px;
}

.form-actions-left {
    margin-left: 10px;
    float: left;
}

#content .fly.form-actions-left {
    position: fixed;
    bottom: 10px;
    opacity: 0.85;
}

.form-actions-right {
    margin-right: 10px;
    float: right;
}

.form-actions .button {
    margin-left: 6px;
}

.form-actions .button:first-child {
    margin-left: 0px;
}

.field {
    margin-bottom: 20px;
}

.field-with-errors input.larger {
    background-position: 0px -82px;
    border: 1px solid #f00;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.label_with_help {
    margin-bottom: 5px;
}

.label_with_help label {
    display: inline;
}

.stripped {
    display: inline;
    float: none;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.checkboxes ul {
    width: 20em;
    margin: 5px;
}

.checkboxes.ui-sortable li {
    background: asset-url('refinery/icons/arrow_nsew.png') no-repeat 98% 50%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea {
    border: 1px solid #7F9DB9;
    line-height: 20px;
    min-height: 20px;
    margin: 0px;
    padding: 0.4% 0.5%;
}

select {
    padding: 3px 0;
}

.widest, textarea {
    width: 99%;
}

input.larger {
    font-size: 150%;
    height: 31px;
}

.button {
    cursor:pointer;
    color: #fff;
    padding: 0px 14px;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    display: inline-block;
    border: none;
    text-decoration: none;
    margin: 0px;
    border-radius: 6px;
    background: #a7a7a7;
}

.button:hover,
.button:focus {
    background: #bbb;
}

.button:active {
    background: #808080;
}

input.button {
    padding-bottom: 3px;
}

.submit-button {
    background: #22a7f2 !important;
}

.submit-button:hover {
    background: #30b3ff !important;
}

.submit-button:focus {
    background: #62bef2 !important;
}

.submit-button:active {
    background: #004a8f !important;
}

.danger-button {
    background: #ee1100 !important;
}

.danger-button:hover
.danger-button:focus {
    background: #f32 !important;
}

.danger-button:active {
    background: #b00 !important;
}

#more-options-field {
    position: relative;
    margin-bottom: 20px;
}

#draft-field {
    float: right;
}
