.locale-picker {
    background-color: #f0f0f0;
}

.locale-picker li {
    float: left;
    margin: 0px;
    padding: 0px;
}

.locale-picker a {
    margin: 0px;
    line-height: 1em;
    display: inline-block;
    padding: 12px 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: transparent;
}

.locale-picker a:hover {
    background-color: #ccc;
    color: transparent;
}

.locale-picker a:active {
    background-color: #aaa;
}

.locale-picker .selected {
    background-color: #fff;
}

