@import 'main';
@import 'forms';
@import 'icons';

.login {
    #page-wrapper {
        max-width: 520px;
        min-width: 320px;
        margin: auto;
    }

    #header-wrapper {
        background: #EAEAEA;
    }

    #header h1 {
        padding-top: 20px;
        font-size: 130%;
    }

    #main-wrapper {
        border-radius: 0 0 5px 5px;
    }

    .larger {
        background: asset-url('refinery/text_field_background.png') repeat-x #fff;
    }

    .larger:focus {
        background-position: 0px -42px;
    }

    .forgot-password {
        text-align: right;
    }
}
