.pagination {
    background-color: #C9DAE2;
    min-height: 30px;
    margin-bottom: 10px;
}

.pagination a,
.pagination em,
.pagination .current,
.pagination .disabled {
    text-decoration: none;
    padding: 5px 9px;
    display: inline-block;
}

.pagination a:hover,
.pagination a:focus,
.pagination em,
.pagination .current {
    background: #A8B9C1;
}

.pagination .disabled {
    color: #A8B9C1;
}

.pagination .current {
    font-weight: bold;
}
