/*==================================
=     Mixins
==================================*/
@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* Tooltips CSS definitions */
.tooltip-holder {
  position: relative;
  text-decoration: none !important;
  border: none !important;
}

.tooltip {
  position: absolute;
  font-weight: normal;
  display: none;
  bottom: 26px;
  left: -10px;
  z-index: 1000;
  min-width: 250px;
  max-width: 350px;
  border: solid 1px #1b82bd;
  color: #fff;
  background: #22A7F2;
}

.tooltip span {
  padding: 10px;
  border: 1px solid #62c1f6;
  display: block;
}

.tooltip-nib {
  position: absolute;
  bottom: -11px;
  left: 10px;
}

/* .no-js */
.tooltip-holder:hover .tooltip {
  display: block;
}

.tooltip, .tooltip span {
  @include rounded(6px);
}
