.ui-datepicker,
.ui-dialog,
.ui-tabs,
.ui-tabs .ui-tabs-nav {
    padding: 0px;
}

.ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-default {
    background: auto;
    border: none;
}

.ui-widget-header .ui-state-default {
    background: none;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    color: inherit;
    border: none;
}

.ui-widget-header {
    background: #22A7F2;
    border: none;
    color: #fff;
}

.ui-tabs .ui-widget-header {
    background: none;
}

.ui-tabs .ui-tabs-nav li {
    float: left;
    margin: 0 2px 0 0;
    line-height: 1.3em;
    border: none;
}

.ui-tabs .ui-tabs-nav li a {
    border-radius: 5px 5px 0 0;
    background-color: #bcbcbc;
    color: #fff;
    padding: 8px 13px;
    display: block;
    margin-top: 6px;
    max-width: 10em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ui-tabs-nav li a:hover,
.ui-tabs-nav li a:focus {
    background: #ccc;
    color: #fff;
}

.ui-tabs-nav li a:active {
    background: #aaa;
    color: #fff;
}

.ui-tabs .ui-tabs-nav .ui-state-active  a {
    background-color: #808080;
    padding: 11px 13px;
    margin-top: 0px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.ui-tabs-settings {
    float: right;
    line-height: 2.8em;
}

.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 18%;
    max-width: 12em;
    min-width: 8em;
    margin-bottom: 1em;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px 0 0 5px;
    float: none;
}

.ui-tabs-vertical .ui-tabs-nav .ui-state-active a {
    padding: 8px 13px;
    background-color: #22A7F2;
}

.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    min-width: 340px;
    /*min-width: 450px; */
    width: 80%;
    padding: 0px;
    padding-left: 10px;
    /* margin-bottom: 35px; */
}

.ui-dialog {
    background-color: #fff;
    border: 4px solid #22A7F2;
    border-radius: 6px;
    min-width: 475px;
    box-shadow: 0 0 5px 1px #555;
}

.ui-dialog .ui-dialog-titlebar {
    border: none;
    border-radius: 0px;
    padding: 0.5em 10px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
}

.ui-dialog-titlebar-close .ui-icon {
    background: asset-url('refinery/cross.png') no-repeat;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.75;
}

.dialog-menu {
    min-width: 130px;
    width: 20%;
    padding: 10px 0;
    float: left;
}

.dialog-main {
    float: left;
    width: 50%;
    padding: 10px 0;
}

.dialog-sidebar {
    width: 30%;
    float: left;
    padding: 10px 0;
}

.dialog-content.loading {
    background: asset-url('refinery/dialogLoadingAnimation.gif') no-repeat 50% 50%;
    min-height: 5em;
}

.loading .dialog-content-wrapper {
    visibility: hidden;
}

.dialog-content-wrapper.no-sidebar .dialog-main {
    width: 80%;
}

.dialog-content-wrapper.no-menu .dialog-main {
    width: 70%;
}

.dialog-content-wrapper.no-sidebar.no-menu .dialog-main {
    width: 100%;
}

.ui-dialog .ui-dialog-content {
    height: auto !important;
    background: #fff;
    overflow-x: hidden;
    padding: 10px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px;
    background-color: #F2F2F2;
    border-top: solid 1px #ccc;
}

.ui-dialog .ui-dialog-buttonpane button {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    margin-right: 7px;
    background: #afafaf;
    color: #fff;
}

.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus {
    background: #bbb;
}

.ui-dialog .ui-dialog-buttonpane button:active {
    background: #999;
}

.ui-button {
    background: #BCBCBC;
}

.ui-button .ui-button-text {
    line-height: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.ui-accordion .ui-accordion-content {
    padding: 0.5em 0;
}

.ui-accordion .ui-accordion-header {
    /* margin-top: 0; */
}

.ui-selectee {
    cursor: pointer;
}
