<ul>
  <li>
    <%= link_to t('.create_new_page'),
                refinery.new_admin_page_path(({ frontend_locale: Globalize.locale } if Globalize.locale.to_s != current_refinery_user.frontend_locale)),
                class: 'icon-small icon-with-text add-icon' %>
  </li>
</ul>
<%= render 'refinery/admin/actions_locale_picker' %>
