<div id="new-page-part-dialog" class="hide">
  <div class="field">
    <label for="new-page-part-title"><%= t('.title') %></label>
    <input id="new-page-part-title" value="" class="larger widest" />
    <input id="new-page-part-index" type="hidden" value="<%= @page.parts.size %>" />
  </div>
  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_button_id => 'new-page-part-save',
             :cancel_button_id => 'new-page-part-cancel',
             :hide_delete => true %>
</div>
