<%# we must set skip_digest because _page partial includes him self and that cause infinite recursion %>
<% cache refinery_records_cache_key(@pages, 'v1'), skip_digest: true do -%>
  <% if @pages.any? %>
    <%= render 'sortable_list' %>
  <% else %>
    <p>
      <strong><%=t('.no_pages_yet')%></strong>
    </p>
  <% end %>
<% end %>
