<div id="more-options-field" >
  <%= link_to t('.advanced_options'), '#more-options',
              class: 'nojs-hide icon-small icon-with-text page-options-icon toggle-hide',
              title: t('.toggle_advanced_options') %>
</div>
