<nav id="menu" class="clearfix" role="navigation">
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| %>
    <%= link_to plugin.title,
                refinery.url_for(plugin.url),
                ({ :'aria-selected' => true, :class => 'selected' } if plugin === refinery_plugin) %>
  <% end %>
</nav>
