<div class="clearfix wysiwyg-editor-wrapper" data-editor-options="<%= Refinery::Core.wysiwyg_editor.options(self).to_json if Refinery::Core.wysiwyg_editor %>">
  <%= f.text_area field, rows: 20, cols: 120, class: 'wysiwyg-editor widest' %>
</div>
