<% if @images.any? %>
  <%= render 'grid_view' %>
  <%= will_paginate @images %>
<% else %>
  <div class="flash flash-notice" >
    <%= t('no_images_yet', scope: 'refinery.admin.images.records') %>
  </div>
<% end %>
