<form>
  <div class="field">
    <label for="image-url">Url:</label>
    <input type="url" class="widest larger text" id="image-url" required="required" />
  </div>
  <div class="field">
    <label for="image-alt">Alt:</label>
    <input type="text" class="widest larger text" id="image-alt" />
  </div>
  <div class="field">
    <input type="submit" value="<%= t('submit', scope: 'refinery.admin.form_actions') %>" />
  </div>
</form>
