<li id="image-<%= grid_view_image.id %>" >
  <%= link_to grid_view_image.url, :class => 'image' do %>
    <%= image_fu(grid_view_image, '100x100#c', {
             :alt => grid_view_image.title,
             :data => { id: grid_view_image.id }
           }.merge(thumbnail_urls(grid_view_image))) %>
  <% end %>
</li>
