<li id="<%= dom_id grid_view_image %>" data-dialog="<%= grid_view_image.to_images_dialog.to_json %>" >
  <%= link_to grid_view_image.url, class: 'image' do %>
    <%= image_fu(grid_view_image, '98x98#c', {
             alt: grid_view_image.title
           }) %>
  <% end %>
</li>
