<%%= form_for @setting, :url => refinery.<%= namespacing.underscore %>_admin_setting_path do |f| %>

  <div class="field">
      <%%= f.label :value, t('.settings_value_name') %>
    <%%= f.text_field :value, :value => @setting.value, :class => 'larger widest' %>
  </div>

  <p>
    <%%= t('.hint') %>
  </p>
  <p>
    <%%= t('.example') %>
  </p>

  <%%= render '/refinery/admin/form_actions', :f => f,
             :cancel_url => refinery.<%= namespacing.underscore %>_admin_<%= plural_name %>_path,
             :hide_delete => true  %>
<%% end %>
