<% cache refinery_records_cache_key @resources do -%>
  <div>
    <% if @resources.any? %>
      <%= render 'resources' %>
    <% else %>
      <p>
        <strong><%= t('.no_files_yet') %></strong>
      </p>
    <% end %>
  </div>
<% end %>
