<div id="existing-resource-area-content" >
  <ul id="refinery-resources" class="records ui-selectable">
    <%= render :partial => 'resource', :collection => @resources %>
  </ul>
</div>

<%= will_paginate @resources %>
