<div id="existing-resource-area-content" >
  <ul id="<%= refinery_dom_id @resources %>" class="records ui-selectable">
    <%= render :partial => 'refinery/admin/resources/resource', :collection => @resources %>
  </ul>
</div>

<%= will_paginate @resources %>
