<% if @resources.any? %>
  <ul class="records ui-selectable">
    <%= render partial: 'resource', collection: @resources %>
  </ul>
  <%= will_paginate @resources %>
<% else %>
  <div class="flash flash-notice" >
    <%= t('no_resources_yet', scope: 'refinery.admin.resources_dialog') %>
  </div>
<% end %>
