<% any_resources = @resources.any? %>
<div class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical">
  <ul class="ui-tabs-nav">
      <li class="ui-tabs-active">
        <a href="#existing-resource-area" >
          <%= t('existing', :scope => 'refinery.admin.resources.insert') %>
        </a>
      </li>
  </ul>
  <div id="existing-resource-area" class="ui-tabs-panel" >
  <% if any_resources %>
    <%= render 'existing_resource' %>
  <% else %>
    <div class="flash flash-notice" >
      <%= t('no_files', :scope => 'refinery.admin.resources.insert') %>
    </div>
  <% end %>
  </div>
</div>
<div class="dialog-actions">
  <%= render '/refinery/admin/form_actions', :f => nil,
             :cancel_url => '',
             :submit_button_text => t('insert', :scope => 'refinery.admin.form_actions'),
             :submit_button_class => 'insert-button',
             :hide_submit => false,
             :hide_cancel => false,
             :hide_delete => true,
             :cancel_title => nil %>
</div>
