<div id="resources-dialog" class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical" >
  <ul class="ui-tabs-nav">
      <li>
        <a href="#existing-resource-area" >
          <%= t('.existing_resource') %>
        </a>
      </li>
      <li>
        <a href="#upload-resource-area" >
          <%= t('.upload_resource') %>
        </a>
      </li>
  </ul>

  <div id="existing-resource-area" class="ui-tabs-panel" >
    <%= render 'existing_resource' %>
  </div>

  <div id="upload-resource-area" class="ui-tabs-panel" >
    <%= render 'upload_resource' %>
  </div>

</div>
